<!doctype html>
<html>
  <head>
    <title>Advanced Mobile</title>
  </head>
  <body>
    <header>
      <img src="/img/logo.png" alt="Advanced Mobile Logo">
    </header>
    {{{body}}}
  </body>
</html>
