<h2>Welcome, Add your Note the db.</h2>

<form class="form-horizontal" role="form" action="/db-add/process" method="POST">

  First: <input type="text"  name="first"><BR>
  Middle: <input type="text"  required  name="middle"><BR>
  last: <input type="text"  required  name="last"><BR>
  born: <input type="text"  required  name="born"><BR>
  <button
   type="submit" >add</button>
  </form>
  <hr>
  <br /><a href="/">Return to home</a>