<h2>Welcome to the high scores list, update page.</h2>

<hr>
{{#each listscores}}
  <div class="listscore">
    <form class="form-horizontal" role="form" action="/highscore-del/process" method="POST">
    <button type"submit" >Delete</button>
    <input type=hidden name="id" value="{{id}}"> {{id}} {{name}}, {{score}}
    </form>   
   </div>
{{/each}}

<hr>
<br /><a href="/">Return to home</a>