<h2>Welcome, Add your high score to the list via API</h2>
<div id="highscoreAddFormContainer">
<form class="form-horizontal" role="form" id="highscoreAddForm">
  <div class="form-group">
    <label for="fieldName" class="col-sm-2 control-label">Name</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" 
      id="fieldName" name="name">
    </div>
  </div>
  <div class="form-group">
    <label for="fieldScore" class="col-sm-2 control-label">Score</label>
    <div class="col-sm-4">
      <input type="text" class="form-control"  required
          id="fieldScore" name="score">
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-4">
      <button type="submit" class="btn btn-primary">add</button>
    </div>
  </div>
</form>
</div>


{{#section 'scripts'}}
<script>
  document.getElementById('highscoreAddForm')
    .addEventListener('submit', evt => {
      evt.preventDefault()
      const form = evt.target
      const body = JSON.stringify({
        name: form.elements.name.value,
        score: form.elements.score.value,
      })
      const headers = { 'Content-Type': 'application/json' }
      const container =
        document.getElementById('highscoreAddFormContainer')
      fetch('/api/scores', { method: 'post', body, headers })
        .then(resp => {
          if(resp.status < 200 || resp.status >= 300)
            throw new Error(`Request failed with status ${resp.status}`)
          return resp.json()
        })
        .then(json => {
          container.innerHTML = '<b>' + json.message +'</b>'
        })
        .catch(err => {
          container.innerHTML = `<b>We're sorry, we had a problem ` +
            `failed to add.  Please <a href="/api-add">try again</a>`
        })
  })
</script>
{{/section}}

<br /><a href="/">Return to home</a>