<h2>Welcome to the high scores list</h2>

<hr>
{{#each listscores}}
  <div class="listscore">
   <p>{{name}}, {{score}}</p>  
   </div>
{{/each}}
<hr>
<br /><a href="/highscore-add">Add a new score</a>
<br /><a href="/highscore-update">update a score</a>
<br /><a href="/highscore-del">delete a score</a>

<hr>
<br /><a href="/api/highscore-add">api add</a>
<br /><a href="/api/highscore-update">api update</a>
<br /><a href="/api/highscore-del">api delete</a>
