<h2>Welcome</h2>

<p>Wecome to Advanced Mobile!  Please <a href="/newsletter-signup">sign up for our newsletter</a>!</p>

<p> Welcome {{username}}, your id is {{userid}}</p>

<br />(click <a href="/set-random-userid">here</a> to change user id randomly or <a href="clear-userid"> clear</a>)
 <br />(click <a href="/set-random-username">here</a> to change username randomly<a href="clear-username"> clear</a>) 


{{> weather}}

